# Your production domain (used for generating dynamic sitemaps and SEO canonical URLs)
# For local testing, you can set this to http://localhost:3000
NEXT_PUBLIC_SITE_URL="https://mithilamantra.com"

# Google reCAPTCHA v3 Site Key (Safe to expose to the public frontend)
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=""

# Google reCAPTCHA v3 Secret Key (NEVER expose this to the public, used only on the backend)
RECAPTCHA_SECRET_KEY=""
